# Basic usage example of gmapy

This notebook demonstrates the basic usage of the `gmapy` package for an evaluation.

Being in the `examples/` directory, we add the parent directory so that `gmapy` can be found.

In [1]:
import sys
sys.path.append('../..')

First, we load the GMADatabase class:

In [2]:
from gmapy.gma_database_class import GMADatabase

Then we instantiate this class with a GMA database file:

In [3]:
gmadb = GMADatabase('../../legacy-tests/test_002/input/data.gma')

Warning: EPAF[2,10] is zero for dataset 8050 (MT: 1, .Hambsch ND2016, P.Salvador-Casti~neira,F.-J). You may want to check the uncertainty specifications of this datasset.
Warning: EPAF[2,10] is zero for dataset 8011 (MT: 4, m NSE,163,1(2009), F.-J.Hambsch et al.FP=28.24). You may want to check the uncertainty specifications of this datasset.

/home/gschnabel/Seafile/OmegaSpace/development/codeproj/gitrepos/gmapy/examples/regular/../../gmapy/data_management/specialized_datablock_apis/legacy_datablock_uncertainty_api.py:122: RuntimeWarning: divide by zero encountered in double_scalars
  XYY = EPAF[1,L] - (E[KS]-E[KT])/(EPAF[2,L]*E[KS])

Warning: EPAF[2,10] is zero for dataset 8010 (MT: 4, m NSE,163,1(2009), F.-J.Hambsch et al.FP=57.41). You may want to check the uncertainty specifications of this datasset.
Warning: EPAF[2,10] is zero for dataset 8008 (MT: 1, NSE,156,197(2007), R.Nolte et al.). You may want to check the uncertainty specifications of this datasset.
Warning: EPAF[2,10] is zero for dataset 8007 (MT: 3, NSE,156,197(2007), R.Nolte et al.). You may want to check the uncertainty specifications of this datasset.
Warning: Energy-dependent correlations provided between datasets 565 (legacy_sacs) and 564 (xs) but one of those datasets is a SACS or ratio of SACS measurement. The problem was encountered for the 4-th NEC component where NC1=4 and NC2=14.
Warning: Energy-dependent correlations provided between datasets 641 (legacy_sacs) and 640 (xs) but one of those datasets is a SACS or ratio of SACS measurement. The problem was encountered for the 4-th NEC component where NC1=4 and NC2=14.

If we want to learn more about the available experimental data, we can extract a pandas datatable with the computational mesh, experimental data and auxiliary variables, such as normalization errors. ALl variables associated with the computational mesh being with `xsid_` or `fis` in the `NODE` column and all variables with experimental data with `exp_`. The rows beginning with `norm_` are the normalization factors for shape data.

In [4]:
dt = gmadb.get_datatable()
dt

,NODE,REAC,ENERGY,PRIOR,UNC,DESCR,DATA,DB_IDX,DS_IDX,AUTHOR,PUBREF
0,xsid_1,MT:1-R1:1,2.530000e-08,938.100000,inf,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN
1,xsid_1,MT:1-R1:1,9.400000e-06,48.640000,inf,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN
2,xsid_1,MT:1-R1:1,1.500000e-04,12.160000,inf,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN
3,xsid_1,MT:1-R1:1,2.500000e-04,9.413000,inf,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN
4,xsid_1,MT:1-R1:1,3.500000e-04,7.954000,inf,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7663,norm_1023,MT:9-R1:8-R2:3-R3:4,0.000000e+00,0.981396,inf,NaN,NaN,NaN,NaN,NaN,NaN
7664,norm_1024,MT:9-R1:9-R2:3-R3:4,0.000000e+00,0.958235,inf,NaN,NaN,NaN,NaN,NaN,NaN
7665,norm_1028,MT:2-R1:8,0.000000e+00,0.987727,inf,NaN,NaN,NaN,NaN,NaN,NaN
7666,norm_1033,MT:2-R1:4,0.000000e+00,0.983214,inf,NaN,NaN,NaN,NaN,NaN,NaN
7667,norm_1034,MT:2-R1:4,0.000000e+00,0.961862,inf,NaN,NaN,NaN,NaN,NaN,NaN

It is also possible to retrieve the associated covariance matrix:

In [5]:
covmat = gmadb.get_covmat()
covmat

<7668x7668 sparse matrix of type '<class 'numpy.float64'>'
	with 505737 stored elements in Compressed Sparse Row format>

The covariance matrix is returned in a sparse matrix format. Consult the `scipy.sparse.csr_matrix` documentation to see how it can be manipulated. For not too large matrix sizes, it may be easier and familar to convert the matrix to a numpy matrix via `covmat.todense()`

An evaluation can be performed by

In [6]:
gmadb.evaluate(correct_ppp=True, atol=1e-3, rtol=1e-3)

/home/gschnabel/anaconda3/envs/gmapy-conda/lib/python3.9/site-packages/scipy/sparse/_index.py:146: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray(i, j, x)

array([938.15382292,  48.64088398,  12.16095433, ...,   0.99001644,
         0.98455067,   0.93851398])

The specification `correct_ppp=True` enables the PPP correction and `atol=1e-3` and `rtol=1e-3` indicate the desired convergence in absolute and relative terms. Please note that the standards evaluation so far were always performed with `corret_ppp=True`. We can inspect the evaluated values by executing

In [7]:
dt = gmadb.get_datatable()
dt

,NODE,REAC,ENERGY,PRIOR,UNC,DESCR,DATA,DB_IDX,DS_IDX,AUTHOR,PUBREF,POST
0,xsid_1,MT:1-R1:1,2.530000e-08,938.100000,0.544430,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN,938.153823
1,xsid_1,MT:1-R1:1,9.400000e-06,48.640000,0.028207,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN,48.640884
2,xsid_1,MT:1-R1:1,1.500000e-04,12.160000,0.004039,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN,12.160954
3,xsid_1,MT:1-R1:1,2.500000e-04,9.413000,0.003677,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN,9.413227
4,xsid_1,MT:1-R1:1,3.500000e-04,7.954000,0.003027,"6Li(n,a)",NaN,NaN,NaN,NaN,NaN,7.952096
...,...,...,...,...,...,...,...,...,...,...,...,...
7663,norm_1023,MT:9-R1:8-R2:3-R3:4,0.000000e+00,0.981396,0.006671,NaN,NaN,NaN,NaN,NaN,NaN,0.989618
7664,norm_1024,MT:9-R1:9-R2:3-R3:4,0.000000e+00,0.958235,0.007545,NaN,NaN,NaN,NaN,NaN,NaN,0.967816
7665,norm_1028,MT:2-R1:8,0.000000e+00,0.987727,0.007803,NaN,NaN,NaN,NaN,NaN,NaN,0.990016
7666,norm_1033,MT:2-R1:4,0.000000e+00,0.983214,0.010358,NaN,NaN,NaN,NaN,NaN,NaN,0.984551
7667,norm_1034,MT:2-R1:4,0.000000e+00,0.961862,0.007853,NaN,NaN,NaN,NaN,NaN,NaN,0.938514

The evaluated reaction cross sections are stored in the rows where the string in the column `NODE` starts with `xsid_`. The number after `R1:` in the `REAC` column also contains the reaction id. The associated reaction type in human-readable form is given in the `DESCR` column. You can retrieve a filtered dataframe with only the evaluated cross sections by `dt[dt['NODE'].str.match('xsid_')]`. Other rows contain the experimental data (`NODE=exp_...`) and normalization errors (`NODE=norm_...`).

As can be seen, two columns `POST` and `POSTUNC` are added with the posterior estimates and uncertainties corresponding to the observable in the row in absolute units. If posterior uncertainties are not enough information and the full posterior covariance matrix (on an absolute scale in unit barn^2) is needed, it can be retrieved by

In [8]:
postcov = gmadb.get_postcov()
postcov

<7668x7668 sparse matrix of type '<class 'numpy.float64'>'
	with 56866713 stored elements in Compressed Sparse Row format>